<MudContainer Class="py-10 px-10">
    <div class="d-flex d-wrap justify-space-between">
        <MudText Typo="Typo.h5"><strong>All Gift Cards</strong></MudText>
        <MudLink Href="#" Typo="Typo.subtitle1" Color="Color.Primary">
            See All
        </MudLink>
            
    </div>
    <MudGrid Class="mt-5" Justify="Justify.Center">
        <MudItem xs="12" sm="6" md="3">
            <NormalGiftCard Image="img/Image-12@2x.png" Title="Amazon Gift Card" SubTitle="9% Investment"></NormalGiftCard>
</MudItem>
        <MudItem xs="12" sm="6" md="3">
            <NormalGiftCard Image="img/Image-13@2x.png" Title="Choice Gift Card" SubTitle="0.1% Investment"></NormalGiftCard>
        </MudItem>
        <MudItem xs="12" sm="6" md="3">
            <NormalGiftCard Image="img/Image-14@2x.png" Title="Ebay Gift Card" SubTitle="9% Investment"></NormalGiftCard>
        </MudItem>
        <MudItem xs="12" sm="6" md="3">
            <NormalGiftCard Image="img/Image-15@2x.png" Title="Xbox Gift Card" SubTitle="9% Investment"></NormalGiftCard>
        </MudItem>
        <MudItem xs="12" sm="6" md="3">
            <NormalGiftCard Image="img/Image-8@2x.png" Title="Uber Gift Card" SubTitle="9% Investment"></NormalGiftCard>
        </MudItem>
        <MudItem xs="12" sm="6" md="3">
            <NormalGiftCard Image="img/Image-7@2x.png" Title="Iconic Gift Card" SubTitle="9% Investment"></NormalGiftCard>
        </MudItem>
        <MudItem xs="12" sm="6" md="3">
            <NormalGiftCard Image="img/Image-9@2x.png" Title="UberEats Gift Card" SubTitle="9% Investment"></NormalGiftCard>
        </MudItem>
        <MudItem xs="12" sm="6" md="3">
            <NormalGiftCard Image="img/Image-19@2x.png" Title="Laubman&Pank Gift Card" SubTitle="9% Investment"></NormalGiftCard>
        </MudItem>
        <MudItem xs="12" sm="6" md="3">
            <NormalGiftCard Image="img/Image-12@2x.png" Title="Amazon Gift Card" SubTitle="9% Investment"></NormalGiftCard>
        </MudItem>
        <MudItem xs="12" sm="6" md="3">
            <NormalGiftCard Image="img/Image-12@2x.png" Title="Amazon Gift Card" SubTitle="9% Investment"></NormalGiftCard>
        </MudItem>
        <MudItem xs="12" sm="6" md="3">
            <NormalGiftCard Image="img/Image-8@2x.png" Title="Uber Gift Card" SubTitle="9% Investment"></NormalGiftCard>
        </MudItem>
        <MudItem xs="12" sm="6" md="3">
            <NormalGiftCard Image="img/Image-7@2x.png" Title="Iconic Gift Card" SubTitle="9% Investment"></NormalGiftCard>
        </MudItem>
    </MudGrid>
</MudContainer>

