<div class="d-flex justify-center">
    <GiftCard Image="@Image" Title="@Title" SubTitle="@SubTitle" IsNormal="true"></GiftCard>
</div>


@code {
    [Parameter] public string Image { get; set; }
    [Parameter] public string Title { get; set; }
    [Parameter] public string SubTitle { get; set; }
}