
<div class="search-paper" style="height: 300px; background-color: #41CEA7;">
    <div style="background: transparent url('img/polygons@2x.png') 0% 0% no-repeat padding-box;opacity: 1; ">
        
    <MudContainer MaxWidth="MaxWidth.Small">
        <MudContainer Style="text-align: center" MaxWidth="MaxWidth.Small" Class="py-5">
            <MudText Class="mt-10" Typo="Typo.h4" Style="color: white;"><strong>Gift Cards</strong></MudText>

            <div class="searchBar mt-5">
                <input id="searchQueryInput" type="text" name="searchQueryInput" placeholder="Search" value=""/>
                <button id="searchQuerySubmit" type="submit" name="searchQuerySubmit">
                    <MudIcon Icon="@Icons.Filled.Search"></MudIcon>
                </button>
            </div>

            <div class="mt-5">
                <SearchTagChip Text="Thank You"></SearchTagChip>
                <SearchTagChip Text="Birthday"></SearchTagChip>
                <SearchTagChip Text="Anniversary"></SearchTagChip>
                <SearchTagChip Text="For Her"></SearchTagChip>
                <SearchTagChip Text="For Him"></SearchTagChip>
            </div>
        </MudContainer>
    </MudContainer>
    </div>
</div>